<template>
<div class="appbgclr">
    <Header />
    <v-main class="ma-3 appbgclr">
        <!-- <v-content> -->
        <router-view />
        <!-- </v-content> -->
    </v-main>
</div>
</template>

<script>
import Header from "./header/Header.vue";

export default {
    name: "Layout",
    components: {
        Header,
    },
    data: () => ({
        //
    }),
};
</script>

<style scoped>
/* .appbgclr { */
    /* background-color: #e7e5e5; */
/* } */
</style>
