<template>
<div>
    <div>
        <img width="20%" height="20%" style="float:right" :src="require('@/assets/ND-logo.png')" />
    </div>
    <div cols="12" md="6" sm="6" lg="6" xl="6">
        <v-row class="justify-center">
            <v-col style="margin:52% 6% 0% 14%"> <img class="justify-center " width="130%" height="100%" :src="require('@/assets/Sports Vectors.png')" /></v-col>
        </v-row>
    </div>
    <div cols="12" md="6" sm="6" lg="6" xl="6" class="justify-center pt-8" style="margin-left: 20%;">
        <v-row class="justify-center pt-8">
            <v-form ref="valid">
                <v-col md="6" sm="2" xsm="2" lg="12" xl="12">
                    <!-- <v-text-field label="Enter your email" prepend-inner-icon="mdi-account-outline" type="email" outlined :rules="emailRules" v-model="email" required>
                    </v-text-field>
                    <v-text-field label="Enter your password" prepend-inner-icon="mdi-lock-outline" hint="At least 8 characters"  outlined :rules="passwordRules" v-model="password" required>
                    </v-text-field>  -->
                    <v-btn color="#664E88" style="margin-left:55%;" v-on:click="login" block dark><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" aria-hidden="true">
                            <title>Google</title>
                            <g fill="none" fill-rule="evenodd">
                                <path fill="#4285F4" d="M17.64 9.2045c0-.6381-.0573-1.2518-.1636-1.8409H9v3.4814h4.8436c-.2086 1.125-.8427 2.0782-1.7959 2.7164v2.2581h2.9087c1.7018-1.5668 2.6836-3.874 2.6836-6.615z"></path>
                                <path fill="#34A853" d="M9 18c2.43 0 4.4673-.806 5.9564-2.1805l-2.9087-2.2581c-.8059.54-1.8368.859-3.0477.859-2.344 0-4.3282-1.5831-5.036-3.7104H.9574v2.3318C2.4382 15.9832 5.4818 18 9 18z"></path>
                                <path fill="#FBBC05" d="M3.964 10.71c-.18-.54-.2822-1.1168-.2822-1.71s.1023-1.17.2823-1.71V4.9582H.9573A8.9965 8.9965 0 0 0 0 9c0 1.4523.3477 2.8268.9573 4.0418L3.964 10.71z"></path>
                                <path fill="#EA4335" d="M9 3.5795c1.3214 0 2.5077.4541 3.4405 1.346l2.5813-2.5814C13.4632.8918 11.426 0 9 0 5.4818 0 2.4382 2.0168.9573 4.9582L3.964 7.29C4.6718 5.1627 6.6559 3.5795 9 3.5795z"></path>
                            </g>
                        </svg>google</v-btn>
                </v-col>
                <!-- <v-col style="margin-left:45%; padding-top:20%">
           <span>
               <v-btn color="#664E88" class="justify-center"  v-on:click="login" block dark><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" aria-hidden="true"><title>Google</title><g fill="none" fill-rule="evenodd"><path fill="#4285F4" d="M17.64 9.2045c0-.6381-.0573-1.2518-.1636-1.8409H9v3.4814h4.8436c-.2086 1.125-.8427 2.0782-1.7959 2.7164v2.2581h2.9087c1.7018-1.5668 2.6836-3.874 2.6836-6.615z"></path><path fill="#34A853" d="M9 18c2.43 0 4.4673-.806 5.9564-2.1805l-2.9087-2.2581c-.8059.54-1.8368.859-3.0477.859-2.344 0-4.3282-1.5831-5.036-3.7104H.9574v2.3318C2.4382 15.9832 5.4818 18 9 18z"></path><path fill="#FBBC05" d="M3.964 10.71c-.18-.54-.2822-1.1168-.2822-1.71s.1023-1.17.2823-1.71V4.9582H.9573A8.9965 8.9965 0 0 0 0 9c0 1.4523.3477 2.8268.9573 4.0418L3.964 10.71z"></path><path fill="#EA4335" d="M9 3.5795c1.3214 0 2.5077.4541 3.4405 1.346l2.5813-2.5814C13.4632.8918 11.426 0 9 0 5.4818 0 2.4382 2.0168.9573 4.9582L3.964 7.29C4.6718 5.1627 6.6559 3.5795 9 3.5795z"></path></g></svg>google</v-btn>
            </span>
            </v-col> -->
            </v-form>
        </v-row>
    </div>
</div>
</template>

<script>
import Firebase from '../../firebase';

export default {
    data() {
        return {
            teamColor: '',
            items: [
                '<v-sheet color="red" height="50" width="50"></v-sheet>',
                '<v-sheet color="green" height="50" width="50"></v-sheet>',
                'blue',
                'yellow',
            ],
            emailId: '',
            user: {
                loggedIn: false,
                data: {},
            },
            teamId: 0,
            event_name: ""
        };
    },
    mounted() {
        if (this.$route.query.event_name != undefined) {
            this.teamId = this.$route.query.teamId
            this.event_name = this.$route.query.event_name
        } else {
            if (this.$route.query.msg == 'invalidUrl') {
                this.$router.push({
                    path: 'landingpage',
                    query: {
                        msg: this.$route.query.msg
                    }
                });
            } else {
                this.$router.push({
                    path: 'landingpage'
                });
            }

        }

    },
    methods: {
        loginToApp() {
            this.$router.push('/home');
        },
        async login() {
            let res = await Firebase.login();

            if (res.user.email.includes('navadhiti.com')) {
                console.log('====================================');
                console.log(res.user.email, "res.user.email");
                console.log('====================================');
                this.$store.commit('setUserData', {
                    name: res.user.displayName,
                    token: res.token,
                    emailID: res.user.email,
                    imageUrl: res.user.photoURL,
                    teamId: this.teamId,
                    event_name: this.event_name
                });
                this.$router.push('/home');
            } else {
                this.$router.push({
                    path: 'Login',
                    query: {
                        msg: 'invalidEmail'
                    }
                });
            }
        },
        logout() {
            Firebase.logout();
        },
    },
};
</script>
